{% extends 'crmapp/base.html' %}

{% block content %}




  <br>
  <div class="container">

<h5>Opportunity : <a href="{% url 'opportunitydetail' pk=addservices.opportunity.pk %}">{{addservices.opportunity}}</a></h5>

<th class="text-center"></th>

    <table class="table mt-5">
        <thead class="thead-dark">
      <tr>

        <th class="text-center">Product</th>
        <th class="text-center">Date</th>
        <th class="text-center">Service Category</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Total NRC</th>
        <th class="text-center">Total MRC</th>

      </tr>

      <tr>
      <td class="border text-center">{{addservices.service}}</td>
      <td class="border text-center">{{addservices.creationdate}}</td>
      <td class="border text-center">{{addservices.servicecategory}}</td>
      <td class="border text-center">{{addservices.noofservices}}</td>
      <td class="border text-center">{{addservices.totalnrc}}</td>
      <td class="border text-center">{{addservices.totalmrc}}</td>

      </tr>

    </table>

    <button type="button" class="btn btn-danger">
      <small></small><a href="{% url 'addservicedelete1' pk=addservices.pk %}" class="text-light">Delete </a>
      <span class="sr-only">unread messages</span>
    </button>

    <button type="button" class="btn btn-info">
      <small></small><a href="{% url 'addservicesupdate' pk=addservices.pk %}" class="text-light">Update </a>
      <span class="sr-only">unread messages</span>
    </button>


</div>

{% endblock %}
