<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  {% block title %} {%endblock%}


</head>
  <body>



  <div class="container mt-2">



  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark">


    <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
    <a class="nav-link" href="{% url 'customerslist' %}"> Customers <span class="sr-only">(current)</span></a>
    <a class="nav-link" href="{% url 'opportunitylist' %}"> Opportunities <span class="sr-only">(current)</span></a>
    <a class="nav-link" href="{% url 'order' %}">Orders<span class="sr-only">(current)</span></a>
    <a class="nav-link" href="{% url 'servicelist' %}">Services<span class="sr-only">(current)</span></a>
    <a class="nav-link" href="{% url 'stafflist' %}">Team <span class="sr-only">(current)</span></a>
    <a class="nav-link" href="{% url 'report' %}">Reports<span class="sr-only">(current)</span></a>
    <a class="nav-link" href="{% url 'suggestion' %}">Requests<span class="sr-only">(current)</span></a>
    <a class="nav-link" href="{% url 'dashboard' %}">DashBoard<span class="sr-only">(current)</span></a>
    <a class="nav-link" href="{% url 'orderpost' %}">Post Orders<span class="sr-only">(current)</span></a>


    {% if user.username %}


    <button  class="btn btn-outline-primary">{{user.username}}</a></button>

    <a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
    {% else %}
    <a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
    {% endif %}

  </nav> -->
  <!-- Example single danger button -->


  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <!-- <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a> -->
    <!-- <a class="nav-link" href="{% url 'customerslist' %}"> Customers <span class="sr-only">(current)</span></a> -->

    <!-- <div class="btn-group">
      <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sales
      </button>
      <div class="dropdown-menu">
        <!-- <a class="dropdown-item" href="{% url 'opportunitylist' %}">Opportunities</a> -->
        <!-- <a class="dropdown-item" href="{% url 'opportunitypost' %}">Post Opportunities</a> -->
        <!-- <a class="dropdown-item" href="#">This Month Opportunities</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"></a> -->
      <!-- </div>
    </div> --> -->

    <!-- <div class="btn-group">
      <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Operation
      </button>
      <div class="dropdown-menu"> -->
        <!-- <a class="dropdown-item" href="{% url 'operval' %}">Operation Validation</a> -->
        <!-- <a class="dropdown-item" href="{% url 'ordernopost' %}">No Post Orders</a> -->
        <!-- <a class="dropdown-item" href="{% url 'order' %}">Orders</a> -->
        <!-- <a class="dropdown-item" href="{% url 'orderpost' %}">Post orders</a> -->
        <!-- <a class="dropdown-item" href="#">Something else here</a> -->
        <!-- <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'servicelist' %}">Services</a>
      </div>
    </div> -->

    <!-- <div class="btn-group">
      <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Team
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'stafflist' %}">Team List</a>
        <a class="dropdown-item" href="">a</a>
        <a class="dropdown-item" href="">a</a>
        <a class="dropdown-item" href="">a</a>
        <a class="dropdown-item" href="#">a</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="">a</a>
      </div>
    </div> -->

    <!-- <a class="nav-link" href="{% url 'report' %}">Reports<span class="sr-only">(current)</span></a> -->
    <!-- <a class="nav-link" href="{% url 'suggestion' %}">Requests<span class="sr-only">(current)</span></a> -->
    <!-- <a class="nav-link" href="{% url 'dashboard' %}">DashBoard<span class="sr-only">(current)</span></a> -->

    <!-- {% if user.username %}
    <button  class="btn btn-outline-primary">{{user.username}}</a></button>
    <a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
    {% else %}
    <a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
    {% endif %}
    </nav>
    <br> -->
    <!-- new navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'customerslist' %}">Customers <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=""> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'report' %}">Reports</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'suggestion' %}">Requests<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sales
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'opportunitylist' %}">Opportunities</a>
          <a class="dropdown-item" href="{% url 'opportunitypost' %}">Post Opportunities</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"></a>
        </div>
      </li>

<!-- operation start -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Operation
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{% url 'operval' %}">Operation Validation</a>
    <a class="dropdown-item" href="{% url 'ordernopost' %}">No Post Orders</a>
    <a class="dropdown-item" href="{% url 'order' %}">Orders</a>
    <a class="dropdown-item" href="{% url 'orderpost' %}">Post orders</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'servicelist' %}">Services</a>
  </div>
</li>
<!-- operation end -->

<!-- team start -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Team
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  <a class="dropdown-item" href="{% url 'stafflist' %}">Team List</a>
    <a class="dropdown-item" href="{% url 'reportcustomerteam' %}">Team-Customers</a>
    <a class="dropdown-item" href=""></a>
    <a class="dropdown-item" href=""></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href=""></a>
  </div>
</li>
<!-- team end -->

<li class="nav-item">
  <a class="nav-link" href="{% url 'dashboard' %}">Dashboard<span class="sr-only">(current)</span></a>
</li>

{% if user.username %}
<button  class="btn btn-outline-primary">{{user.username}}</a></button>
<a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
{% else %}
<a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
{% endif %}

    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
<br>
  <!-- Example single danger button -->
<!-- <div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Report
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div> -->

<h1>hello</h1>

</div>



{% block content %}
  {% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% block javascript %}

{% endblock %}


  </body>
</html>
