{% extends 'crmapp/base.html' %}

{% load humanize %}

{% block content %}






  <h4 class="text-center m-1 text-success">Post Orders : <span class="text-danger" >{{orderpostlist.count}}</span></h4>




{% if orderpostlist %}

<table class="table m-3">
    <thead class="thead-dark">
  <tr class="ml-2">
    <th class="text-center">Order No</th>
    <th class="text-center">Opportunity</th>
    <th class="text-center">Activation Date</th>
    <th class="text-center">Service</th>
    <th class="text-center">MRC</th>
    <th class="text-center">Discount</th>
    <th class="text-center">MRC after discount</th>
    <th class="text-center">Sales Man</th>
    <th class="text-center">Operation User</th>
    <th class="text-center">Stc sales report</th>
    <th class="text-center">Stc post report</th>
    <th class="text-center">Stc commission report</th>
    <th class="text-center">Issued bills</th>
    <th class="text-center">Paid bills Amount</th>




  </tr>
  {% for order in orderpostlist %}
  <tr class="ml-2">
  <td class="border text-center"><a href="{% url 'orderpaymentupdate' pk=order.pk %}">{{order.orderno}}</a></td>
  <td class="border text-center">{{order.opportunity}}</td>
  <td class="border text-center">{{order.activationdate}}</td>
  <td class="border text-center">{{order.service}}</td>
  <td class="border text-center">{{order.mrc}}</td>
  <td class="border text-center">{{order.discount}}</td>
  <td class="border text-center">{{order.discountmrc}}</td>
  <td class="border text-center">{{order.opportunity.salesman}}</td>
  <td class="border text-center">{{order.operationexecutive}}</td>
  <td class="border text-center">{{order.stcsalesreport}}</td>
  <td class="border text-center">{{order.stcpostreport}}</td>
  <td class="border text-center">{{order.stccommissionreport}}</td>
  <td class="border text-center">{{order.issuedbills}}</td>
  <td class="border text-center">{{order.paidbills}}</td>


  </tr>
  {% endfor %}
</table>

{% endif %}





  {% endblock %}
