{% extends 'crmapp/base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

<table class="table mt-5">
      <thead class="thead-dark">
    <tr>
      <th class="text-center">Opportunity No</th>
      <th class="text-center">Sales Man</th>
      <th class="text-center">Creation Date</th>
      <th class="text-center">Customer</th>
      <th class="text-center">Total NRC</th>

      <th class="text-center">Note</th>
    </tr>
    {% for opportunity in cctvservices %}
    <tr>
    <td class="border text-center">{{opportunity.opportunity}}</td>
    <td class="border text-center">{{opportunity.serviceowner}}</td>
    <td class="border text-center">{{opportunity.creationdate|date:"j, n, Y"}}</td>
    <td class="border text-center">{{opportunity.opportunity.customer}}</td>
    <td class="border text-center">{{opportunity.totalnrc}}</td>

    <td class="border text-center">{{opportunity.note}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

  {% endblock%}