{% extends 'crmapp/based.html' %}


{% block content %}



<div class="container mt-5">


<button  class="btn-primary text-light"><a class="text-light "href="{% url 'fservicenew' %}">New Service</a></button>


{% if fservicelist %}

<table class="table mt-5">
    <thead class="thead-dark">
  <tr>
    <th class="text-center">Service</th>
     <th class="text-center">nrc</th>
    <th class="text-center">mrc</th>
    <th class="text-center">commission</th>
    <th class="text-center">No of Deals</th>
    <th class="text-center">Total_MRC</th>

  </tr>
  {% for service in fservicelist %}
  <tr>
    <td class="border text-center"><a href="{% url 'fservicedetail' pk=service.id %}">{{service.servicename}}</a></td>

    <td class="border text-center">{{service.nrc}}</td>
    <td class="border text-center">{{service.mrc}}</td>
    <td class="border text-center">{{service.commission}}</td>
    <td class="border text-center">{{service.fservice_deals.count}}</td>

    <td class="border text-center"></td>
  </tr>
  {% endfor %}
</table>

{% endif %}

</div>



  {% endblock %}
