{% extends 'crmapp/base.html' %}


{% block content %}


<div class="container mt-3">


  <h5  style="color:blue;width:200px;">No of customers : {{mycustomers.count}}</h5>

  <button  class="btn-success  text-light mb-3"><a class="text-light "href="{% url 'customernew' %}">Add Customer</a></button>

</div>

<div class="container">


{% if mycustomers %}

<table class="table ">
    <thead class="thead-dark">
  <tr>
    <th class="text-center">Customer</th>
    <th class="text-center">CR</th>
    <th class="text-center">Creation Date</th>
    <th class="text-center">Creator</th>
    <th class="text-center">No of Opportunities</th>


  </tr>
  {% for customer in mycustomers %}
  <tr>
  <td class="border text-center"><a href="{% url 'customerdetail' pk=customer.id %}" class="text-primary">{{customer.customername}}</a></td>
  <td class="border text-center">{{customer.cr}}</td>
  <td class="border text-center">{{customer.creationdate}}</td>
  <td class="border text-center">{{customer.creator}}</td>
  <td class="border text-center">{{customer.customer_opportunities.count}}</td>

  </tr>
  {% endfor %}
</table>

{% endif %}

</div>



  {% endblock %}
