{% extends 'crmapp/base.html' %}


{% block content %}



<div class="container mt-5">

  <h4 class="text-center m-1 text-success">No of Hot Leads Opportunities : {{opportunityhotlead.count}}</h4>



  {% if opportunityhotlead %}

  <table class="table mt-5">
      <thead class="thead-dark">
    <tr>
      <th class="text-center">Opportunity No</th>
      <th class="text-center">LMS</th>
      <th class="text-center">Creation Date</th>
      <th class="text-center">Sales Man</th>
      <th class="text-center">Job Title</th>
      <th class="text-center">Customer</th>
      <th class="text-center">Total NRC</th>
      <th class="text-center">Total MRC</th>
      <th class="text-center">Status</th>
      <th class="text-center">Source</th>
      <th class="text-center">Expecting Closing Date</th>
      <th class="text-center">Revenue With No Post</th>
      <th class="text-center">Note</th>



    </tr>
    {% for opportunity in opportunityhotlead %}
    <tr>
    <td class="border text-center"><a href="{% url 'opportunitydetail' pk=opportunity.pk %}">{{opportunity.opportunityno}}</a></td>
    <td class="border text-center">{{opportunity.lms}}</td>
    <td class="border text-center">{{opportunity.creationdate|date:"j, n, Y"}}</td>
    <td class="border text-center">{{opportunity.salesman}}</td>
    <td class="border text-center"><small>{{opportunity.employeejobtitle}}</small></td>
    <td class="border text-center"><a href="{% url 'customerdetail' pk=opportunity.customer.pk %}">{{opportunity.customer}}</a></td>
    <td class="border text-center">{{opportunity.totalnrc}}</td>
    <td class="border text-center">{{opportunity.totalmrc}}</td>
    <td class="border text-center">{{opportunity.status}}</td>
    <td class="border text-center">{{opportunity.source}}</td>
    <td class="border text-center">{{opportunity.expectedclosingdate|date:"j, n, Y"}}</td>
    <td class="border text-center">{{opportunity.revenue1}}</td>
    <td class="border text-center">{{opportunity.note}}</td>

    </tr>
    {% endfor %}
  </table>
  {% endif %}





</div>
{% endblock %}
