{% extends 'crmapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>

input {max-width: 12em};


</style>


<div class="container">

  <br>

    <h6 style="color:Blue;">Order No : {{thisorder.orderno}}</h6>

    <br>

    <form method="post">

    {% csrf_token %}

    {{form|crispy}}


    <button type="submit" class="btn btn-primary mb-2">Save</button>

    </form>


<script>

order = document.getElementById('id_dealcategory');
order.addEventListener("change", myFunction);
disabled = document.getElementById("id_serviceout");
   disabled.disabled = true;

function myFunction() {
  var x = document.getElementById("id_dealcategory").value;

    if (x == 'n') {
        document.getElementById("id_serviceout").disabled = true;
    }
    else {
        document.getElementById("id_serviceout").disabled = false;
    }
}
</script>

</div>

{% endblock %}
